<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuário Ativado</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-success">Usuário Ativado</h1>
        <p>O usuário <strong>{{ user.nome }}</strong> ({{ user.login }}) foi ativado com sucesso.</p>
        <a href="{{ url_for('get_users') }}" class="btn btn-secondary">Voltar para a Lista de Usuários</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
