<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloquear Usuário</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Bloquear Usuário</h1>
        <p>Você tem certeza que deseja bloquear o usuário <strong>{{ user.nome }}</strong>?</p>
        <form action="{{ url_for('block_user', id=user.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Bloquear Usuário</button>
            <a href="{{ url_for('get_users') }}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
